<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hit.underthesea">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnderTheSea">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayMenu"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".score.ScoreTable"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".GameActivity"
            android:screenOrientation="landscape" />
    </application>
</manifest>